#test-l-1 .buttons,
#test-l-2 .buttons,
#test-l-3 .buttons {
  margin: 0;
  padding: 0;
}

#test-l-2 .form-row,
#test-l-3 .form-row {
  margin-bottom: 1rem;
}

.bs-stepper-pane .buttons {
  position: relative;

  width: 100%;
  height: 38px;

  .btn {
    position: absolute;
    top: 0;

    &.next {
      right: 0;
    }

    &.previous {
      left: 0;
    }
  }
}
