<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="Enter your description here" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.0/gsap.min.js"
      defer
    ></script>
    <script src="../scripts/index.js" defer></script>

    <link rel="stylesheet" href="../styles/main.css" />
    <title>Product Registration</title>
  </head>

  <body>
    <div class="app">
      <div class="topbar">
        <div class="container">
          <a href="./index.html"
            ><img src="../assets/images/logo.svg" alt=""
          /></a>
          <nav class="navigation">
            <a href="./customers.html" class="nav-item" id="customers"
              >Customers</a
            >
            <a
              href="./products.html"
              class="nav-item nav-item--selected"
              id="products"
              >Products</a
            >
          </nav>
          <div class="user">
            <span class="user__name">Doe, John</span>
            <img
              src="../assets/images/profile-pic.svg"
              alt=""
              class="user__picture"
            />
          </div>
        </div>
      </div>

      <main class="bg-color--gray">
        <div class="container flex-grow-1 flex-shrink-0 py-5">
          <div class="mb-5 p-4 bg-white shadow">
            <h3>Product Registration</h3>
            &nbsp;
            <h5>Product Information:</h5>
            <form id="prodReg">
              <div class="form-row">
                <div class="col-1"></div>
                <div class="col-2">
                  <label>Date Registered</label>
                </div>
                <div class="col-6">
                  <input type="date" class="form-control" id="prodDateReg" />
                </div>
                <div class="col-3"></div>
              </div>
              <div class="form-row">
                <div class="col-1"></div>
                <div class="col-2">
                  <label>SKU</label>
                </div>
                <div class="col-6">
                  <input type="number" class="form-control" id="sku" />
                </div>
                <div class="col-3"></div>
              </div>
              <div class="form-row">
                <div class="col-1"></div>
                <div class="col-2">
                  <label>Category</label>
                </div>
                <div class="col-6">
                  <input type="text" class="form-control" id="category" />
                </div>
                <div class="col-3"></div>
              </div>
              <div class="form-row">
                <div class="col-1"></div>
                <div class="col-2">
                  <label>Name</label>
                </div>
                <div class="col-6">
                  <input type="text" class="form-control" id="prodName" />
                </div>
                <div class="col-3"></div>
              </div>
              <div class="form-row">
                <div class="col-1"></div>
                <div class="col-2">
                  <label>Brand</label>
                </div>
                <div class="col-6">
                  <input type="text" class="form-control" id="prodbrand" />
                </div>
                <div class="col-3"></div>
              </div>
              <div class="form-row">
                <div class="col-1"></div>
                <div class="col-2">
                  <label>Color</label>
                </div>
                <div class="col-6">
                  <input type="text" class="form-control" id="prodcolor" />
                </div>
                <div class="col-3"></div>
              </div>
              <div class="form-row">
                <div class="col-1"></div>
                <div class="col-2">
                  <label>Size/Dimension</label>
                </div>
                <div class="col-6">
                  <input type="number" class="form-control" id="prodsize" />
                </div>
                <div class="col-3"></div>
              </div>
              <div class="form-row">
                <div class="col-1"></div>
                <div class="col-2">
                  <label>Price</label>
                </div>
                <div class="col-6">
                  <input
                    type="number"
                    class="form-control"
                    id="prodPrice"
                    placeholder="Php"
                  />
                </div>
                <div class="col-3"></div>
              </div>
              <div class="form-row">
                <div class="col-1"></div>
                <div class="col-2">
                  <label>No. of Stocks</label>
                </div>
                <div class="col-6">
                  <input type="number" class="form-control" id="prodStocks" />
                </div>
                <div class="col-3"></div>
              </div>
              <div class="form-row">
                <div class="col-1"></div>
                <div class="col-2">
                  <label>Images</label>
                </div>
                <div class="col-6"></div>
                <div class="col-3"></div>
              </div>
              <div class="form-row">
                <div class="col-2"></div>
                <div class="col-2 square">
                  <br /><br />
                  <input type="file" class="form-control" id="prodimg1" />
                </div>
                <div class="col-1"></div>
                <div class="col-2 square">
                  <br /><br />
                  <input type="file" class="form-control" id="prodimg2" />
                </div>
                <div class="col-1"></div>
                <div class="col-2 square">
                  <br /><br />
                  <input type="file" class="form-control" id="prodimg3" />
                </div>
                <div class="col-2"></div>
              </div>
              <div class="row">
                <div class="col text-center">
                  <button type="submit" class="btn btn-primary next">
                    Submit
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </main>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
