<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Products</title>
    <meta name="description" content="" />
    <link rel="stylesheet" href="../styles/main.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.0/gsap.min.js"
      defer
    ></script>
    <script src="../scripts/index.js" defer></script>
    <script src="../scripts/filterHandler.js" defer></script>
  </head>
  <body>
    <div class="app">
      <div class="topbar">
        <div class="container">
          <a href="#"><img src="../assets/images/logo.svg" alt="" /></a>
          <nav class="navigation">
            <a href="./customers.html" class="nav-item" id="customers"
              >Customers</a
            >
            <a
              href="./products.html"
              class="nav-item nav-item--selected"
              id="products"
              >Products</a
            >
          </nav>
          <div class="user">
            <span class="user__name">Doe, John</span>
            <img
              src="../assets/images/profile-pic.svg"
              alt=""
              class="user__picture"
            />
          </div>
        </div>
      </div>
      <main class="main-content" data-router-wrapper>
        <div class="container" data-router-view>
          <div class="header">
            <div class="filter">
              <div class="main-container">
                <div class="title">
                  <img
                    src="../assets/images/funnel.svg"
                    alt=""
                    class="title__icon"
                  />
                  <h5 class="title__text">Filter by:</h5>
                </div>
                <div class="filter-choices">
                  <div class="filter-option-container">
                    <button class="filter-option orange">Category</button>
                    <div class="filter-search filter-search--hide">
                      <input type="text" placeholder="Category" />
                    </div>
                  </div>
                  <div class="filter-option-container">
                    <button class="filter-option blue">Brand</button>
                    <div class="filter-search filter-search--hide">
                      <input type="text" placeholder="Brand" />
                    </div>
                  </div>
                  <div class="filter-option-container">
                    <button class="filter-option violet">Name</button>
                    <div class="filter-search filter-search--hide">
                      <input type="text" placeholder="Name" />
                    </div>
                  </div>
                  <div class="filter-option-container">
                    <button class="filter-option green">Price</button>
                    <div class="filter-search filter-search--hide">
                      <input type="number" name="" id="" placeholder="0" />
                    </div>
                  </div>
                  <div class="filter-option-container">
                    <button class="filter-option red">No. of Items</button>
                    <div class="filter-search filter-search--hide">
                      <input type="number" name="" id="" placeholder="0" />
                    </div>
                  </div>
                  <div class="filter-option-container">
                    <button class="filter-option yellow">
                      Date Registered
                    </button>
                    <div class="filter-search filter-search--hide">
                      <input type="date" name="" id="" />
                    </div>
                  </div>
                </div>
                <div class="filter-option filter-keyword violet">
                  Pencil
                  <div class="icon-container">
                    <img
                      src="../assets/images/close.svg"
                      alt="
                "
                      class="close-icon"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="table-row table-header">
              <div class="main-container products-grid">
                <h5 class="column-title name">Name</h5>
                <h5 class="column-title brand">Brand</h5>
                <h5 class="column-title price">Price</h5>
                <h5 class="column-title items">No. of Items</h5>
                <h5 class="column-title category">Category</h5>
                <h5 class="column-title date-registered">Date Registered</h5>
              </div>
            </div>
          </div>
          <div class="table">
            <div class="table-row">
              <div class="main-container products-grid">
                <span class="name">Pencil</span>
                <span class="brand">Monggol</span>
                <span class="price">7.50</span>
                <span class="items">100 pcs.</span>
                <span class="category">School Supplies</span>
                <span class="date-registered">Dec 1, 2020</span>
              </div>
            </div>
            <div class="table-row">
              <div class="main-container products-grid">
                <span class="name">Pencil</span>
                <span class="brand">Monggol</span>
                <span class="price">7.50</span>
                <span class="items">100 pcs.</span>
                <span class="category">School Supplies</span>
                <span class="date-registered">Dec 1, 2020</span>
              </div>
            </div>
            <div class="table-row">
              <div class="main-container products-grid">
                <span class="name">Pencil</span>
                <span class="brand">Monggol</span>
                <span class="price">7.50</span>
                <span class="items">100 pcs.</span>
                <span class="category">School Supplies</span>
                <span class="date-registered">Dec 1, 2020</span>
              </div>
            </div>
            <div class="table-row">
              <div class="main-container products-grid">
                <span class="name">Pencil</span>
                <span class="brand">Monggol</span>
                <span class="price">7.50</span>
                <span class="items">100 pcs.</span>
                <span class="category">School Supplies</span>
                <span class="date-registered">Dec 1, 2020</span>
              </div>
            </div>
            <div class="table-row">
              <div class="main-container products-grid">
                <span class="name">Pencil</span>
                <span class="brand">Monggol</span>
                <span class="price">7.50</span>
                <span class="items">100 pcs.</span>
                <span class="category">School Supplies</span>
                <span class="date-registered">Dec 1, 2020</span>
              </div>
            </div>
            <div class="table-row">
              <div class="main-container products-grid">
                <span class="name">Pencil</span>
                <span class="brand">Monggol</span>
                <span class="price">7.50</span>
                <span class="items">100 pcs.</span>
                <span class="category">School Supplies</span>
                <span class="date-registered">Dec 1, 2020</span>
              </div>
            </div>
            <div class="table-row">
              <div class="main-container products-grid">
                <span class="name">Pencil</span>
                <span class="brand">Monggol</span>
                <span class="price">7.50</span>
                <span class="items">100 pcs.</span>
                <span class="category">School Supplies</span>
                <span class="date-registered">Dec 1, 2020</span>
              </div>
            </div>
            <div class="table-row">
              <div class="main-container products-grid">
                <span class="name">Pencil</span>
                <span class="brand">Monggol</span>
                <span class="price">7.50</span>
                <span class="items">100 pcs.</span>
                <span class="category">School Supplies</span>
                <span class="date-registered">Dec 1, 2020</span>
              </div>
            </div>
            <div class="table-row">
              <div class="main-container products-grid">
                <span class="name">Pencil</span>
                <span class="brand">Monggol</span>
                <span class="price">7.50</span>
                <span class="items">100 pcs.</span>
                <span class="category">School Supplies</span>
                <span class="date-registered">Dec 1, 2020</span>
              </div>
            </div>
            <div class="table-row">
              <div class="main-container products-grid">
                <span class="name">Pencil</span>
                <span class="brand">Monggol</span>
                <span class="price">7.50</span>
                <span class="items">100 pcs.</span>
                <span class="category">School Supplies</span>
                <span class="date-registered">Dec 1, 2020</span>
              </div>
            </div>
            <div class="table-row">
              <div class="main-container products-grid">
                <span class="name">Pencil</span>
                <span class="brand">Monggol</span>
                <span class="price">7.50</span>
                <span class="items">100 pcs.</span>
                <span class="category">School Supplies</span>
                <span class="date-registered">Dec 1, 2020</span>
              </div>
            </div>
            <div class="table-row">
              <div class="main-container products-grid">
                <span class="name">Pencil</span>
                <span class="brand">Monggol</span>
                <span class="price">7.50</span>
                <span class="items">100 pcs.</span>
                <span class="category">School Supplies</span>
                <span class="date-registered">Dec 1, 2020</span>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
